html{
    background-color: #f5f0e1;
    color: #224666;
}
#header{
    display: flex;
    position: fixed;
    top: 0;
    width:100%;
    align-items: center;
    justify-content: space-between;
    background-color: #ecd89c;
    margin-left: -8px;
}

#nav-bar {
    padding-right: 10%;
}

.logo{
    display: flex;
    margin: 1rem 1rem; 
}

#header h1{
    margin-left:1rem;
}

#header-img{
    width: 5vw;
}

#header ul{
    display:flex;
    justify-content: space-around;
}

#header li{
    list-style: none;
    font-size: 1.2rem;
    margin-right: 2rem;
}

#header a{
    text-decoration: none;
    color: #1e3d59;
}

#header a:hover{
    color:#ff6e40;
    font-size: 1.3rem;
    transition-duration: 300ms;
}

form{
    text-align: center;
    font-size: 20px;
    padding-top: 150px;
}

#email{
    margin-top: 20px;
    height: 20px;
}

#submit{
    padding: 5px;
    margin: 20px 5px;
    background-color: #ffc13b;
}

#features div.prop {
    margin-top: 5rem;
    margin-left: 1rem;
    display: flex;
    justify-content: space-around;
}

#features div.prop img{
    width: 10%;
    height: 10%;
}

#features div.matter{
    margin: 1rem;
}

#working{
    margin-top: 3rem;
    text-align: center;
}

#pricing{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

.price{
    width: 20rem;
    height: 18rem;
    background-color: #f3c156;
    text-align:center;
    padding: 1rem;
}


@media screen and (max-width: 600px){
    #header {
        margin-left: -8px;
    }
    #header-img{
        width: 8vw;
    }
    .logo{
        display: flex;
        margin: 1rem 1rem; 
    }
    #header h1{
        margin-left:0.5rem;
        font-size: 15px
    }
    #header ul{
        position: relative;
        left: 5%;
        width: 100%;
    }

    #header li{
        list-style: none;
        font-size: 0.8rem;
    }
    #header a:hover{
        color:#ff6e40;
        transition-duration: 300ms;
    }
    #working{
        margin-top: 2rem;
        margin-left: 1rem;
        width: 80vw;
    }
    #pricing{
        flex-direction: column;
        justify-content: center;
        margin-top:3rem;
        align-items: center;
    }
    .price{
        margin-top: 3rem;
        width: 20rem;
        height: 15rem;
        background-color: #ffc13b;
        text-align:center;
        padding: 1rem;
    }
}

@media screen and (max-width: 300px){
    #header{
        display: flex;
        flex-direction: column;
    }
    .logo{
        display: flex;
        margin: 0.5rem 0.5rem;
        justify-content: center;
        align-items: center;
    }
    #header-img{
        width: 10%;
    }
    #header h1{
        font-size: 20px
    }
    #header li{
        list-style: none;
        font-size: 0.5rem;
    }
    #header a:hover{
        color:#ff6e40;
        transition-duration: 300ms;
    }

    #email{
        width: 90%;
    }

    #working{
        margin-top: 1rem;
        margin-left: 1rem;
        width: 90vw;
    }
    #pricing{
        flex-direction: column;
        justify-content: center;
        margin-top:3rem;
    }
    .price{
        margin-top: 3rem;
        width: 80%;
        height: 100%;
        background-color: #ffc13b;
        text-align:center;
        padding: 1rem;
    }
}

